<div class="fill-container" fxLayout="column">
  <mat-toolbar class="header" color="primary"> <span>The Cookie Jar</span> </mat-toolbar>
  <div fxLayout="column" fxFlex>
    <div fxLayout="row" fxLayoutAlign="center">
      <div>
        <img
          mat-card-image
          src="../assets/icons/monkey.png"
          alt="Monkey Icon"
        />
      </div>
      <div>
        <img mat-card-image src="../assets/icons/cookie.png" alt="Cookies" />
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="1rem">
      <a routerLink="/login">
        <button class="login-button" mat-raised-button color="primary">
          Login
        </button>
      </a>
      <a routerLink="/create-account">
        <button class="create-account-button" mat-raised-button color="accent">
          Become a Cookie
        </button>
      </a>
      <a routerLink="/conversations">
        <button class="conversations-button" mat-raised-button color="warn">
          Test Conversations
        </button>
      </a>
    </div>

    <div class="mg-sm" fxLayout="column" fxFlex fxLayoutAlign="flex-end">
      <div>
        Icons made by
        <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon"
          >www.flaticon.com</a
        >
        is licensed by
        <a
          href="http://creativecommons.org/licenses/by/3.0/"
          title="Creative Commons BY 3.0"
          target="_blank"
          >CC 3.0 BY</a
        >
      </div>
      <div>
        Icons made by
        <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon"
          >www.flaticon.com</a
        >
        is licensed by
        <a
          href="http://creativecommons.org/licenses/by/3.0/"
          title="Creative Commons BY 3.0"
          target="_blank"
          >CC 3.0 BY</a
        >
      </div>
    </div>
  </div>
</div>
